@import "tailwindcss";

@theme inline {
  --color-neutral-blue: #f2f5f8;
  --color-primary-text: #0d1a31;
  --color-alternate-light: #c9daeb;
  --color-brand-green-400: #0d4b33;
  --color-brand-green-300: #19825a;
  --color-secondary-text: #5d636f;
  --color-link-secondary: #00509d;
}
